<head>
    <title>{{metaTitle}}</title>
    <meta charset="UTF-8" />
    <meta content="IE=Edge" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{metaDescription}}" />
    <meta property="og:title" content="{{metaTitle}}" />
    <meta property="og:description" content="{{metaDescription}}" />
    {{#metaImageUrl}}
    <meta property="og:image" content="{{metaImageUrl}}" />
    {{/metaImageUrl}}
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link href="/output.css" rel="stylesheet" />
    <link rel="manifest" href="/manifest.json" />
    <script type="text/javascript"
        src="https://platform-api.sharethis.com/js/sharethis.js#property=68b5b23f5b7a352c0f780c92&product=inline-share-buttons"
        async="async"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
</head>