<!doctype html>
<html>
    {{>header}}

    <body class="mx-auto bg-background-light dark:bg-background-dark">
        <div class="py-24 items-center min-h-svh">
            <h1
                class="text-4xl font-bold text-center text-success-light dark:text-success-dark"
            >
                Unsubscribed Successfully
            </h1>
            <p
                class="text-center text-secondary-dark dark:text-secondary-light mt-4"
            >
                You've been unsubscribed from the newsletter. Sorry to see you
                go!
            </p>
        </div>
    </body>

    {{>footer}}
</html>
